<div class="footer">
  <div class="copyright">
    &copy;2011 HubSpot, Inc.  All Rights Reserved.
  </div>
  <div class="moodinator" data-screen-id="0">
    <div class="question">
      <p class="text">How does this page make you feel?</p>
      <div class="happy"></div>
          <p class="or">-OR-</p>
          <div class="sad"></div>
    </div>
    <div class="answer happy-answer" style="display:none;">
      <div class="happy"></div>
      <p class="text">Thanks!  We're beaming.</p>
    </div>
    <div class="answer sad-answer" style="display:none;">
      <div class="sad"></div>
      <p class="text">Thanks!  We appreciate the feedback.<br /> If you're having difficulty please feel free to <a href="http://success.hubspot.com/Support___Services/">submit a support ticket</a></p>
    </div>
  </div>
  <div class="info">
    Portal ID:  53
  </div>
</div>
