{% load button %}
{% load form %}

<!doctype html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>HubSpot | None to Many</title>
  <!-- <link rel="shortcut icon" href="/favicon.ico"> we need a good one! -->
  <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0;" />
  <link type="text/css" rel="stylesheet" href="//static.hubspotqa.com/bundles/final_page.css?v=3dJ3aaG609chjjHlRKzx-g" />
  <script type="text/javascript" srcz"//static.hubspotqa.com/bundles/final_head.js?v=qBezGia0xGY_fG12KPR2kQ"></script>
  <link type="text/css" rel="stylesheet" href="//static.hubspotqa.com/bundles/ui_toolkit.css?v=qBih91aST6LIRE_mC7raKQ" />
  <style type="text/css">
    .hsdmz b { font-weight: bold }
  </style>
  <script type="text/javascript" language="javascript">
    //<![CDATA[
    hns('hubspot', {
      server: {
        env: 'qa'
      },
      portal: {
        id: 53,
        cmsPrimaryDomain: 'www.hubspotcmsqa.com',
        appPrimaryDomain: 'www.hubspotqa.com',
        
        
        betaTolerant: false
      },
      user: {
        id: 6044,
        firstName: 'Eliza',
        lastName: 'Patient',
        email: 'devteam@hubspot.com',
        username: 'devteam@hubspot.com',
        superUser: true
      },
      gates: {
        
        		js_edit_email_html: true
      } 
    });
    //]]>
  </script>

</head>
<body class="hsdmz css_feb23new css_gate_hsqa css_socialmedia_feed_edits_26b css_toolkitv2">
  <div class="page">
  {% include "nav.html" %}
    <div class="app dimensions-960">
      <div class="header">
        <div class="tertiary">
        </div>
        <h1 class="museo_sans">None To Many</h1>
        <h2 class="museo_sans">Your Very Own IMC</h2>
      </div>

      <div id="log">

      <div><b>HubSpot</b>: Hello, my name is Eliza.  I'm an Inbound Marketing Consultant with HubSpot.
           I'm glad you've recently purchased HubSpot.</div>
       <div><b>HubSpot</b>: Can you tell me something about
        your marketing goals?</div>

      </div>
      {% form id='question' %}
        <input type="text" id="q" size="60" autocomplete="off">
        {% button css_class='submit' %}
            Talk to HubSpot
        {% endbutton %}
      {% endform %}
    </div>

    {% include "footer.html" %}
  </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
    <script>
var eliza = {
    appendMsg: function(speaker, message) {
        $('#log').append("<div><b>" + speaker + ":</b> " + message + "</div>");
    },
    ask: function(question) {
        if (!question) {
            return;
        }
        eliza.appendMsg("You", question);
        $.ajax({
            url: "/eliza/ask/{{ uuid }}/",
            dataType: 'html',
            data: { q: question },
            success: function(result) {
                eliza.appendMsg("HubSpot", result);
            }, error: function(result) {
                eliza.appendMsg("Error", result.responseText);
            }
        });
    }
};
$(window).load(function() {
    $('#q').val('').focus();
    $("#question .btn").click(function (evt) {
        evt.preventDefault();
        eliza.ask($('#q').val());
        $('#q').val('');
    });
    $("#question").submit(function (evt) {
        evt.preventDefault();
        eliza.ask($('#q').val());
        $('#q').val('');
    });

});
</script>
</body>
</html>
