<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>None to Many</title>
    <!-- <link rel="shortcut icon" href="/favicon.ico"> we need a good one! -->
</head>
<body>
    <div id="main">
        <h2>Say hello</h2>
        <div id="log">
            <div>Ask a question</div>
        </div>
            <form id="question">
            <input type="text" id="q">
            <input type="submit" value="Ask">
        </form>
    </div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
<script>
var eliza = {
    appendMsg: function(speaker, message) {
        $('#log').append("<div><b>" + speaker + ":</b> " + message + "</div>");
    },
    ask: function(question) {
        if (!question) {
            return;
        }
        eliza.appendMsg("You", question);
        $.ajax({
            url: "/eliza/ask/{{ uuid }}/",
            dataType: 'html',
            data: { q: question },
            success: function(result) {
                eliza.appendMsg("HubSpot", result);
            }, error: function(result) {
                eliza.appendMsg("Error", result.responseText);
            }
        });
    }
};
$(window).load(function() {
    $('#q').val('').focus();
    $("#question").submit(function (evt) {
        evt.preventDefault();
        eliza.ask($('#q').val());
        $('#q').val('');
    });
});
</script>
</body>
</html>
