<div id="hsnav">
<h1 class="hide">Navigation</h1>
<div class="logo large"><a href="https://app.hubspotqa.com/hf/dash?portalId=53"><span>HubSpot Large</span></a></div>
<ul class="primary">
<li class="ni_dashboard">
<a href="https://app.hubspotqa.com/hf/dash?portalId=53"><span>Dashboard</span></a>
</li>
<li class="ni_create">
<a href="https://www.hubspotqa.com/app/global-ui/overviews?which=create"><span>Create</span></a>
<div class="sub">
<ul>
<li class="ni_create_overview">
<a href="https://www.hubspotqa.com/app/global-ui/overviews?which=create">
<em>Create Overview </em>
<span>Grow your footprint. Give the search engines a reason to crawl. Content is king.</span>
</a>
</li>
<li class="ni_blog">
<a href="https://www.hubspotqa.com/app/bloggrader/redirect">
<em>Blog </em>
<span>Write articles that will generate more inbound links and leads for your business.</span>
</a>
</li>
<li class="ni_website_pages">
<a href="http://www.hubspotcmsqa.com/?app=page-builder&forcelogin=true">
<em>Website Pages </em>
<span>Manage and edit your pages on HubSpot.</span>
</a>
</li>
<li class="ni_landing_pages last">
<a href="http://www.hubspotcmsqa.com/app/landing-pages/?forcelogin=true">
<em>Landing Pages </em>
<span>Build specialized pages that convert prospects into leads.</span>
</a>
</li>
</ul>
</div>
</li>
<li class="ni_optimize">
<a href="https://www.hubspotqa.com/app/global-ui/overviews/?which=optimize"><span>Optimize</span></a>
<div class="sub">
<ul>
<li class="ni_optimize_overview">
<a href="https://www.hubspotqa.com/app/global-ui/overviews/?which=optimize">
<em>Optimize Overview </em>
<span>Showcase your site to search engines. Optimized pages drive qualified traffic.</span>
</a>
</li>
<li class="ni_keyword_grader">
<a href="https://www.hubspotqa.com/app/keyword-grader/keywordanalysis">
<em>Keyword Grader </em>
<span>Research which keywords are best for you. You need traffic, ranking and relevance.</span>
</a>
</li>
<li class="ni_page_grader">
<a href="https://app.hubspotqa.com/PageGrader/Pages.hub?portalId=53">
<em>Page Grader </em>
<span>Let HubSpot check each page of your site for possible SEO improvements.</span>
</a>
</li>
<li class="ni_link_grader last">
<a href="https://www.hubspotqa.com/app/link-grader/">
<em>Link Grader </em>
<span>Review who's linking to you. Weigh how much SEO mojo is behind each link.</span>
</a>
</li>
</ul>
</div>
</li>
<li class="ni_promote">
<a href="https://www.hubspotqa.com/app/global-ui/overviews/?which=promote"><span>Promote</span></a>
<div class="sub">
<ul>
<li class="ni_promote_overview">
<a href="https://www.hubspotqa.com/app/global-ui/overviews/?which=promote">
<em>Promote Overview </em>
<span>Spread the gospel. Amplify your online presence.</span>
</a>
</li>
<li class="ni_social_media">
<a href="https://app.hubspotqa.com/sm/feeds?portalId=53">
<em>Social Media </em>
<span>Discuss and interact with others to increase your company's visibility.</span>
</a>
</li>
<li class="ni_email_manager beta last">
<a href="https://app.hubspotqa.com/email/hub?portalId=53">
<em>Email Manager <sup>BETA</sup></em>
<span>Send emails to your leads database.</span>
</a>
</li>
</ul>
</div>
</li>
<li class="ni_convert">
<a href="https://www.hubspotqa.com/app/global-ui/overviews/?which=convert"><span>Convert</span></a>
<div class="sub">
<ul>
<li class="ni_convert_overview">
<a href="https://www.hubspotqa.com/app/global-ui/overviews/?which=convert">
<em>Convert Overview </em>
<span>Convert traffic into customers through a marketing funnel.</span>
</a>
</li>
<li class="ni_prospects">
<a href="https://app.hubspotqa.com/prospects/recentProspects?portalId=53">
<em>Prospects </em>
<span>Identify the companies and geographic locations your visitors come from.</span>
</a>
</li>
<li class="ni_landing_pages">
<a href="http://www.hubspotcmsqa.com/app/landing-pages/?forcelogin=true">
<em>Landing Pages </em>
<span>Build specialized pages that convert prospects into leads.</span>
</a>
</li>
<li class="ni_leads">
<a href="https://app.hubspotqa.com/leads/app/list?portalId=53">
<em>Leads </em>
<span>Identify and manage high-quality leads for your sales team.</span>
</a>
</li>
<li class="ni_list_manager beta fresh">
<a href="https://app.hubspotqa.com/ss/hub?portalId=53">
<em>List Manager <sup>BETA</sup></em>
<span>Create lists of your leads so you can send targeted communications.</span>
</a>
</li>
<li class="ni_lead_nurturing last">
<a href="https://app.hubspotqa.com/leadnurturing/hub?portalId=53">
<em>Lead Nurturing </em>
<span>Automate emails to convert leads into customers.</span>
</a>
</li>
</ul>
</div>
</li>
<li class="ni_analyze">
<a href="https://www.hubspotqa.com/app/global-ui/overviews/?which=reports"><span>Analyze</span></a>
<div class="sub">
<ul>
<li class="ni_analyze_overview">
<a href="https://www.hubspotqa.com/app/global-ui/overviews/?which=reports">
<em>Analyze Overview </em>
<span>See how you're doing. Identify opportunities.</span>
</a>
</li>
<li class="ni_blog_analytics">
<a href="https://www.hubspotqa.com/?app=BlogGrader&ui=Insights">
<em>Blog Analytics </em>
<span>Uncover which articles spark the most attention.</span>
</a>
</li>
<li class="ni_reach">
<a href="https://app.hubspotqa.com/reach/tracker?portalId=53">
<em>Reach </em>
<span>You may speak but who's listening? Track your online following.</span>
</a>
</li>
<li class="ni_competitors">
<a href="https://www.hubspotqa.com/app/competitors/">
<em>Competitors </em>
<span>Compare your marketing metrics to others.</span>
</a>
</li>
<li class="ni_sources">
<a href="https://app.hubspotqa.com/analytics/sources?portalId=53">
<em>Sources </em>
<span>See how different traffic sources drive visits, leads, and customers to your site.</span>
</a>
</li>
<li class="ni_visits_by_page">
<a href="https://app.hubspotqa.com/analytics/pages?portalId=53">
<em>Visits By Page </em>
<span>Split your incoming traffic to see the pages that get the most views.</span>
</a>
</li>
<li class="ni_visit-lead-customer_funnel last">
<a href="https://www.hubspotqa.com/?app=LeadManager&LeadAction=LeadFunnel&dr=6">
<em>Visit-Lead-Customer Funnel </em>
<span></span>
</a>
</li>
</ul>
</div>
</li>
<li class="ni_marketplace">
<a href="https://app.hubspotqa.com/market/53/list"><span>Marketplace</span></a>
<div class="sub">
<ul>
<li class="ni_marketing_grader last">
<a href="https://app.hubspotqa.com/market/53/canvas/MarketingGrader/">
<em>Marketing Grader </em>
<span>Is your marketing old-fashioned? Find out ins...</span>
</a>
</li>
</ul>
</div>
</li>
</ul>
<ul class="secondary">
<li class="host ni_ui"><a href="https://app.hubspotqa.com/ui/app/index?portalId=53">UI</a></li>
<li class="host ni_profile"><a href="#">Profile</a></li>
<li class="host ni_debug"><a href="#">Debug</a></li>
<li class="host"><a href="https://www.hubspotqa.com/app/global-ui/host/">Host</a></li>
<li><a href="http://success.hubspot.com/" target="_blank">Help &amp; Community</a></li>
<li class="ni_settings"><a href="https://www.hubspotqa.com/app/global-ui/customeraccount/">Settings</a></li>
<li class="ni_logout last"><a href="http://www.hubspotcmsqa.com/Logoff.aspx?redirecturl=https%3A%2F%2Fwww.hubspotqa.com%2FLogoff.aspx">Logoff</a></li>
</ul>
</div>
